*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    background-color: #3f704d ;
    text-align: center;
}

#Backgammon_table{
    background-color: #c08552;
    border: 20px solid #41251d;
    border-collapse: collapse;
    table-layout: fixed;
    width: 840px;
}
.board_section{
    margin: 0;
    height: 250px;
    width: 60px;
    border: none;
    position: relative;
    vertical-align: top;
}

.triangle{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
}

.triangle::before{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.triangle.down::before{
    clip-path: polygon(0% 0%, 100% 0%, 50% 85%);
}

.triangle.up::before{
    clip-path: polygon(0% 100%, 100% 100%, 50% 15%);
}

.triangle.down{
    justify-content: flex-start;
}

.triangle.up{
    justify-content: flex-end;
}

.triangle.odd::before{
    background-color: #744e2d;
}
.triangle.even::before{
    background-color: #d79e6c;
}

.bar_center{
    width: 80px ;
    height: 100%;
    background-color: #41251d;
    color: white;
    text-align: center;
    vertical-align: middle;

}

.piece {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin:2px auto;
    z-index: 10;
}

.piece.W{
    background-color: #f0f0f0;
    border: 2px solid #8d8d8d;
}

.piece.B{
    background-color: #2b2b2b;
    border: 2px solid #000;
}

.debug_number{
    position: absolute;
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: #fff;
    z-index: 20;
    pointer-events: none;
}

.triangle.down .debug_number{
    top: auto;
    bottom: 15px;
}

.triangle.up .debug_number{
    top: 15px;
    bottom: auto;
}

.board_header{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}

#reset_backgammon_game{
    justify-self: start;
    color: #fff;
    background-color: #5a9157;
    width: 80px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 8px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

#reset_backgammon_game:hover{
    background-color: #54a36e;
}

#dice_roll_button{
    
    justify-self: start;
    color: #333;
    background-color: #fff;
    width: 120px;
    height: 50px;
    border-color: transparent;
    border-radius: 8px;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

#dice_roll_button:hover{
    background-color: #e9e9e9;
}



